<html>
<head>
  <title>{% if login %}欢迎: {{ username }}{% else %}登录测试{% endif %}</title>
</head>
<body>
{% if login %}
  <div>欢迎: {{ username }}</div>
  <form action="index.logout" method="post">
    <div><input type="hidden" name="logout" value="true"></div>
    <div><input type="submit" value="退出"></div>
  </form>
{% else %}
  <form action="index.login" method="post">
    <div><input type="text" name="username"></div>
    <div><input type="text" name="password"></div>
    <div><input type="submit" value="登录"></div>
  </form>
{% endif %}
</body>
</html>
